<a href="https://colab.research.google.com/github/Suket-Shubhankar/Stock-Market-prediction/blob/main/Stock_Prediction_MLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/BAJFINANCE.csv")
data

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,03-01-2000,BAJAUTOFIN,EQ,46.95,49.45,50.75,46.50,50.75,50.75,50.05,7600,3.803800e+10,NaN,NaN,NaN
1,04-01-2000,BAJAUTOFIN,EQ,50.75,53.20,53.20,47.90,48.00,48.10,48.56,5000,2.428000e+10,NaN,NaN,NaN
2,05-01-2000,BAJAUTOFIN,EQ,48.10,46.55,47.40,44.60,44.60,44.60,45.47,3500,1.591450e+10,NaN,NaN,NaN
3,06-01-2000,BAJAUTOFIN,EQ,44.60,43.50,46.00,42.10,46.00,45.25,44.43,6200,2.754750e+10,NaN,NaN,NaN
4,07-01-2000,BAJAUTOFIN,EQ,45.25,48.00,48.00,42.00,42.90,42.90,44.44,3500,1.555550e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5065,25-08-2020,BAJFINANCE,EQ,3492.05,3525.00,3660.00,3510.00,3658.00,3642.90,3579.12,9854070,3.526890e+15,339815.0,1498309.0,0.1520
5066,26-08-2020,BAJFINANCE,EQ,3642.90,3665.00,3707.00,3631.00,3638.20,3645.55,3668.17,6665336,2.444960e+15,213994.0,944373.0,0.1417
5067,27-08-2020,BAJFINANCE,EQ,3645.55,3656.95,3668.40,3596.40,3636.00,3632.50,3631.13,4611132,1.674360e+15,162374.0,387513.0,0.0840
5068,28-08-2020,BAJFINANCE,EQ,3632.50,3650.00,3688.00,3617.05,3672.05,3670.80,3652.77,4251575,1.553000e+15,137033.0,434147.0,0.1021
5069,31-08-2020,BAJFINANCE,EQ,3670.80,3715.00,3749.85,3465.00,3478.50,3487.80,3602.93,8529788,3.073220e+15,293454.0,1321559.0,0.1549

In [ ]:
data = data.drop(columns="Symbol")
data = data.drop(columns="Series")
data = data.drop(columns="Trades")
data = data.drop(columns="Deliverable Volume")
data = data.drop(columns="%Deliverble")

In [ ]:
data

,Date,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover
0,03-01-2000,46.95,49.45,50.75,46.50,50.75,50.75,50.05,7600,3.803800e+10
1,04-01-2000,50.75,53.20,53.20,47.90,48.00,48.10,48.56,5000,2.428000e+10
2,05-01-2000,48.10,46.55,47.40,44.60,44.60,44.60,45.47,3500,1.591450e+10
3,06-01-2000,44.60,43.50,46.00,42.10,46.00,45.25,44.43,6200,2.754750e+10
4,07-01-2000,45.25,48.00,48.00,42.00,42.90,42.90,44.44,3500,1.555550e+10
...,...,...,...,...,...,...,...,...,...,...
5065,25-08-2020,3492.05,3525.00,3660.00,3510.00,3658.00,3642.90,3579.12,9854070,3.526890e+15
5066,26-08-2020,3642.90,3665.00,3707.00,3631.00,3638.20,3645.55,3668.17,6665336,2.444960e+15
5067,27-08-2020,3645.55,3656.95,3668.40,3596.40,3636.00,3632.50,3631.13,4611132,1.674360e+15
5068,28-08-2020,3632.50,3650.00,3688.00,3617.05,3672.05,3670.80,3652.77,4251575,1.553000e+15
5069,31-08-2020,3670.80,3715.00,3749.85,3465.00,3478.50,3487.80,3602.93,8529788,3.073220e+15

In [ ]:
data.set_index(pd.DatetimeIndex(data['Date']), inplace=True)

In [ ]:
data = data[['Close']]
data

              Close
Date
2000-03-01    50.75
2000-04-01    48.10
2000-05-01    44.60
2000-06-01    45.25
2000-07-01    42.90
...             ...
2020-08-25  3642.90
2020-08-26  3645.55
2020-08-27  3632.50
2020-08-28  3670.80
2020-08-31  3487.80

[5070 rows x 1 columns]

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5070 entries, 2000-03-01 to 2020-08-31
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   5070 non-null   float64
dtypes: float64(1)
memory usage: 79.2 KB
None

In [ ]:
pip install pandas-ta

Collecting pandas-ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     |████████████████████████████████| 115 kB 14.6 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas-ta) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas-ta) (1.15.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=fcb0cfa24432ab2cce837e9b847714b3d08385d4c58213f55881b987fc97360f
  Stored in directory: /root/.cache/pip/wheels/0b/81/f0/cca85757840e4616a2c6b9fe12569d97d324c27cac60724c58
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [ ]:
import pandas_ta
data.ta.ema(close='Close', length=10, append=True)

/usr/local/lib/python3.7/dist-packages/pandas_ta/core.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[ind_name] = result

Date
2000-03-01            NaN
2000-04-01            NaN
2000-05-01            NaN
2000-06-01            NaN
2000-07-01            NaN
                 ...
2020-08-25    3448.227195
2020-08-26    3484.104069
2020-08-27    3511.085147
2020-08-28    3540.124211
2020-08-31    3530.610718
Name: EMA_10, Length: 5070, dtype: float64

In [ ]:
data

              Close       EMA_10
Date
2000-03-01    50.75          NaN
2000-04-01    48.10          NaN
2000-05-01    44.60          NaN
2000-06-01    45.25          NaN
2000-07-01    42.90          NaN
...             ...          ...
2020-08-25  3642.90  3448.227195
2020-08-26  3645.55  3484.104069
2020-08-27  3632.50  3511.085147
2020-08-28  3670.80  3540.124211
2020-08-31  3487.80  3530.610718

[5070 rows x 2 columns]

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5070 entries, 2000-03-01 to 2020-08-31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   5070 non-null   float64
 1   EMA_10  5061 non-null   float64
dtypes: float64(2)
memory usage: 118.8 KB
None

In [ ]:
data = data.iloc[10:]
print(data.head(10))

            Close     EMA_10
Date
2000-01-17  39.20  42.554545
2000-01-18  38.30  41.780992
2000-01-19  41.40  41.711721
2000-01-20  43.00  41.945953
2000-01-21  42.95  42.128507
2000-01-24  40.05  41.750597
2000-01-25  37.70  41.014125
2000-01-27  39.00  40.647920
2000-01-28  38.65  40.284662
2000-01-31  37.05  39.696542

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data[['Close']], data[['EMA_10']], test_size=.2)

In [ ]:
print(X_test.describe())

              Close
count   1012.000000
mean    1285.160968
std     1767.275795
min       26.000000
25%      122.237500
50%      531.875000
75%     1750.662500
max    11393.300000

In [ ]:
print(X_train.describe())

              Close
count   4048.000000
mean    1322.038006
std     1787.116607
min       24.500000
25%       99.687500
50%      544.525000
75%     1760.987500
max    11265.850000

In [ ]:
from sklearn.neural_network import MLPRegressor

In [ ]:
model1 = MLPRegressor(random_state=1, max_iter=500)

In [ ]:
model1.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPRegressor(max_iter=500, random_state=1)

In [ ]:
y_pred = model1.predict(X_test)

In [ ]:
y_pred

array([1535.4875289 ,  260.01018734, 1366.37763422, ..., 1191.79189406,
       1635.68070162, 1653.88418795])

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Coefficient of Determination:", r2_score(y_test, y_pred))

Mean Absolute Error: 41.889086891659076
Coefficient of Determination: 0.9866469274228329

In [ ]:
preds = model1.predict(X_train)
rms=np.sqrt(np.mean(np.power((np.array(y_train)-np.array(preds)),2)))
rms

2497.9705845588073